/Streams.Resources.csproj/.vs/Streams.Resources/v15/.suo
/Streams.Resources.csproj/.vs/Streams.Resources/v15/.suo
/Streams.Resources.csproj/.vs/Streams.Resources/v15/Server/sqlite3/storage.ide
/Streams.Resources.csproj/.vs/Streams.Resources/v15/Server/sqlite3/storage.ide-shm
/Streams.Resources.csproj/.vs/Streams.Resources/v15/Server/sqlite3/storage.ide-wal
/Streams.Resources.csproj/bin/Debug/nunit.framework.dll
/Streams.Resources.csproj/bin/Debug/nunitlite.dll
/Streams.Resources.csproj/bin/Debug/Streams.Resources.exe
/Streams.Resources.csproj/bin/Debug/Streams.Resources.exe.config
/Streams.Resources.csproj/bin/Debug/Streams.Resources.pdb
/Streams.Resources.csproj/bin/Debug/TestResult.xml
/Streams.Resources.csproj/obj/Debug/Streams.Resources.csproj.CopyComplete
/Streams.Resources.csproj/obj/Debug/Streams.Resources.csproj.FileListAbsolute.txt
/Streams.Resources.csproj/obj/Debug/Streams.Resources.csprojAssemblyReference.cache
/Streams.Resources.csproj/obj/Debug/Streams.Resources.exe
/Streams.Resources.csproj/obj/Debug/Streams.Resources.pdb
/Streams.Resources.csproj/.vs/Streams.Resources/v15/.suo
/Streams.Resources.csproj/.vs/Streams.Resources/v15/Server/sqlite3/storage.ide
/Streams.Resources.csproj/.vs/Streams.Resources/v15/Server/sqlite3/storage.ide-shm
/Streams.Resources.csproj/.vs/Streams.Resources/v15/Server/sqlite3/storage.ide-wal
/Streams.Resources.csproj/obj/Debug/Streams.Resources.csprojAssemblyReference.cache
/Streams.Resources.csproj/.vs/Streams.Resources/v15/.suo
/Streams.Resources.csproj/.vs/Streams.Resources/v15/Server/sqlite3/storage.ide
/Streams.Resources.csproj/.vs/Streams.Resources/v15/Server/sqlite3/storage.ide-shm
/Streams.Resources.csproj/.vs/Streams.Resources/v15/Server/sqlite3/storage.ide-wal
/Streams.Resources.csproj/obj/Debug/Streams.Resources.csprojAssemblyReference.cache
/Streams.Resources.csproj/.vs/Streams.Resources/v15/.suo
/Streams.Resources.csproj/.vs/Streams.Resources/v15/.suo
/Streams.Resources.csproj/.vs/Streams.Resources/v15/Server/sqlite3/storage.ide
/Streams.Resources.csproj/.vs/Streams.Resources/v15/Server/sqlite3/storage.ide-shm
/Streams.Resources.csproj/.vs/Streams.Resources/v15/Server/sqlite3/storage.ide-wal
/Streams.Resources.csproj/obj/Debug/Streams.Resources.csprojAssemblyReference.cache
